:root {
  --white: #ffffff;
  --border-color: #6e7891;
  --text-color: #31374a;
  --primary: #2563EB;
  --primary-light: #497DEE;
  --primary-dark: #134FD2;
  
  --secondary: #111827;
  --secondary-light: #172135;
  --secondary-dark: #090D15;

  --white: #F7F3F3;
  --white-light: #FFFFFF;
  --white-dark: #E3E8ED;

  --black: #060504;
  --black-light: #120F0C;
  --black-dark: #000000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
}

body {
  
}