<div class="container">
  <div class="breadcrumb-container">
    <app-breadcrumb></app-breadcrumb>
  </div>
  <h1>Experiences</h1>
  <div class="filter-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <input formControlName="companyName" type="text" placeholder="Company name" class="filter-container__nameInput">
      <button type="submit">Search</button>
      <button type="button" (click)="create()" class="filter-container__createButton">Create</button>
    </form>
  </div>
  <hr>
  <div class="container__table">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Company Img</th>
          <th>Company Name</th>
          <th>Job Title</th>
          <th>Description</th>
          <th>Working period</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experience of listExperiences">
          <td>{{experience.id}}</td>
          <td><img src="{{experience.companyImg}}" alt="companyImg"></td>
          <td>{{experience.companyName}}</td>
          <td>{{experience.jobTitle}}</td>
          <td [innerHTML]="experience.description"></td>
          <td>{{experience.workingPeriod}}</td>
          <td>{{experience.startDate}}</td>
          <td>{{experience.endDate}}</td>
          <td>
            <div class="container__table--action" (click)="openPopup(experience.id)">
              <i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                </svg>
              </i>
              <div class="container__table__popup" 
                   [ngClass]="{'container__table__popup--active': activePopup === experience.id}">
                <button>View</button>
                <button (click)="edit(experience)">Update</button>
                <hr>
                <button (click)="remove(experience.id)">Remove</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="container__paging">
      <button (click)="goToPage(page - 1)" [disabled]="page === 1"><</button>
      <ng-container *ngFor="let tPage of listPage">
        <button (click)="goToPage(tPage)" [ngClass]="{'active': page == tPage}">{{tPage}}</button>
      </ng-container>
      <button (click)="goToPage(page + 1)" [disabled]="page === totalPages">></button>
    </div>
  </div>
</div>