.blog {
  width: 1216px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 92px;
}

.blog button {
  height: 39px;
  padding: 5px;
  border-radius: 6px;
  font-family: 'Source Code Pro';
  font-size: 12px;
  border: 1px solid black;
  margin-bottom: 16px;
  cursor: pointer;
}

.blog button:hover {
  
}

.blog h2 {
  margin-bottom: 24px;
}

lib-blog-card-ui {
  margin-bottom: 16px;
}

.blog__body {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.blog__body-left {
  width: 100%;
  margin-right: 30px;
  position: relative;
}

.blog__body-left__blog-item {
  margin-bottom: 16px;
}

.blog__body-right__content {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
}

.blog__body__skill-item {
  margin-right: 3px;
  margin-bottom: 3px;
}

/* PAGING */
.container__paging {
  margin: 16px 0px;
  position: absolute;
  right: 0px;
}

.container__paging button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: white;
  border-radius: 6px;
}


.container__paging button.active {
  background-color: blue;
  color: white;
}

@media (max-width: 950px) {
  .blog {
    width: 100%;
  }

  .blog__body {
    display: flex;
    flex-direction: column;
  }

  .blog__body-left {
    width: 100%;
  }

  .blog__body-right {
    width: 100%;
    margin-top: 92px;
  }
}