<div class="blog">
  <button (click)="goToHome()"><- Back to Home</button>
  <h2>Welcome to my blog</h2>
  <div class="blog__body">
    <div class="blog__body-left">
      <div class="blog__body-left__content">
        <div 
          class="blog__body-left__blog-item"
          *ngFor="let blog of listBlogs">
          <lib-blog-card-ui [currentBLog]="blog"></lib-blog-card-ui>
        </div>
        <div class="container__paging">
          <button (click)="goToPage(page - 1)" [disabled]="page === 1"><</button>
          <ng-container *ngFor="let tPage of listPage">
            <button (click)="goToPage(tPage)" [ngClass]="{'active': page == tPage}">{{tPage}}</button>
          </ng-container>
          <button (click)="goToPage(page + 1)" [disabled]="page === totalPages">></button>
        </div>
      </div>
    </div>
    <div class="blog__body-right">
      <h3>Skills</h3>
      <div class="blog__body-right__content">
        <div 
        class="blog__body__skill-item"
        *ngFor="let skill of listSkills">
          <lib-skill-ui [currentSkill]="skill"></lib-skill-ui>
        </div>
      </div>
    </div>
  </div>
</div>